<!DOCTYPE html>
<html lang="{{ lang }}">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="height=device-height, width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0">
        <title>EVA</title>            
        <script defer src="./common.js"></script>
        <script async src="./eva-app.js"></script>
        <script defer src="./@popperjs/core/dist/umd/popper.min.js"></script>
        <script defer src="./js/bootstrap.min.js"></script>
        <link rel="icon" type="image/x-icon" href="{{ shortIcon }}">
        <link href="./css/bootstrap.min.css" rel="stylesheet">
        <link href="./font-awesome/css/font-awesome.min.css" rel="stylesheet">
        <link href="./stylesheet/stylesheet.css" rel="stylesheet">        
    </head>
    <body>             
        <div class="content d-flex flex-column" data-mode="{{ mode }}" data-logged="{{ logged }}">             
            {% include "./template/common/header.twig" %}  
            {% if logged %}                             
                {% if mode %} {#Backend#}
                    <div class="d-flex flex-row flex-grow-1">                    
                        <div class="col-2 sidebar" style="overflow-y: scroll">
                            {% include "./template/common/column_left.twig" %}
                        </div>
                        <div class="col">
                            {% include "./template/common/dashboard.twig" %}
                        </div>                    
                    </div>                      
                {% else %} {#Frontend#}                                                                                                         
                    <noscript>You need to enable JavaScript to run this app.</noscript>                    
                    <div id="eva-app" data-app="">{#Start app#}</div>                                             
                        {% use "./template/common/references.twig" %}  
                        <object style="display:none">{{ block('ref') }}</object>                                                        
                {% endif %}                               
            {% else %}                            
                {% include "./template/common/login.twig" %}                            
            {% endif %}   
            {% include "./template/common/footer.twig" %}  
        </div>
    </body>
</html>