<!DOCTYPE html>
<html lang="{{ lang }}">
    <head>
        <meta charset="UTF-8">        
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta http-equiv="Cache-Control" content="no-cache">
        <meta name="viewport" content="height=device-height, width=device-width, user-scalable=no">
        <title>EVA</title>            
        <script defer src="./common.js"></script>
        <script defer src="./eva-app.js"></script>
        <script defer src="./@popperjs/core/dist/umd/popper.min.js"></script>
        <script defer src="./js/bootstrap.min.js"></script>                  
        <script defer src="./lib/codemirror.js"></script>        
        <script defer src="./lib/javascript.js"></script>   
        <link rel="icon" type="image/x-icon" href="{{ shortIcon }}">
        <link href="./css/bootstrap.min.css" rel="stylesheet">
        <link href="./font-awesome/css/font-awesome.min.css" rel="stylesheet">
        <link href="./stylesheet/stylesheet.css" rel="stylesheet">        
        <link href="./lib/codemirror.css" rel="stylesheet">   
    </head>
    <body>             
        <div class="content d-flex flex-column" data-mode="{{ mode }}" data-logged="{{ logged }}">             
            {% include "./template/common/header.twig" %}  
            {% if logged %}              
                <div class="d-flex flex-row flex-grow-1">                
                    {% if mode %} {#Backend#}                                       
                        <div class="col-sm-2 sidebar" style="overflow-y: scroll">
                            {% include "./template/common/column_left.twig" %}
                        </div>
                        <div class="col" id="dashboard" data-dashboard ='{{ dashboard|json_encode }}'>
                            {% include "./template/common/dashboard.twig" %}
                        </div>                                                                                 
                    {% else %} {#Frontend#}                       
                        <noscript>You need to enable JavaScript to run this app.</noscript>                            
                        <div class="eva" id="eva-app" data-app='{{ app|json_encode }}'>{#Start app#}                           
                            {% include "./template/common/constants.twig" %} 
                            {% include "./template/common/references.twig" %}                         
                        </div>                            
                    {% endif %}       
                </div>                         
            {% else %}                            
                {% include "./template/common/login.twig" %}                            
            {% endif %}   
            {% include "./template/common/footer.twig" %}  
        </div> 
    </body>
</html>