<div class="tab-content" id="nav-tabContent">
  {# Config [0] #}
  <div class="tab-pane fade active show" id="nav-config" role="tabpanel" aria-labelledby="nav-config-tab">
    <div class="btn-toolbar" role="toolbar" aria-label="toolbar group">
      <div class="btn-group btn-group-sm" role="group">
        <button type="button" class="btn btn-primary d-flex gap-2 align-items-center" onclick="objectModal()">
          <i class="fa fa-plus-square"></i>
          <span>{{ button_add }}</span>
        </button>
        <button type="button" class="btn btn-primary d-flex gap-2 align-items-center eva-edit"  onclick="objectEditModal()">
          <i class="fa fa-edit"></i>
          <span>{{ button_edit }}</span>
        </button>
        {# <button type="button" class="btn btn-primary d-flex gap-2 align-items-center">
          <i class="fa fa-clone" aria-hidden="true"></i>
          <span>{{ button_copy }}</span>
        </button> #}
         <button type="button" class="btn btn-primary d-flex gap-2 align-items-center" onclick="objectDelete()">
          <i class="fa fa-minus-square"></i>
          <span>{{ button_delete }}</span>
        </button>
        <button id="btn-config-save" type="button" class="btn btn-primary d-flex gap-2 align-items-center" onclick="updateConfig()">
            <i class="fa fa-floppy-o"></i>
            <span>{{ button_save }}</span>
        </button>       
        <div class="btn-group btn-group-sm" role="group">
          <button id="btnGroupDrop1" type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false"></button>
          <ul class="dropdown-menu" aria-labelledby="btnGroupDrop1">           
            <li><a class="dropdown-item">{{ button_etc}}</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item">...</a></li>
          </ul>
        </div>
      </div>
    </div>           
    <div class="eva-table"></div>      
  </div> 
  {# Users [1] #}
  <div class="tab-pane fade" id="nav-users" role="tabpanel" aria-labelledby="nav-users-tab">
    <div class="btn-toolbar" role="toolbar" aria-label="toolbar group">
      <div class="btn-group btn-group-sm" role="group">
        <button type="button" class="btn btn-primary d-flex gap-2 align-items-center"  onclick="userCreateModal()">
          <i class="fa fa-user-plus"></i>
          <span>{{ button_add }}</span>
        </button>        
        <button type="button" class="btn btn-primary d-flex gap-2 align-items-center eva-edit"  onclick="userEditModal()">
          <i class="fa fa-edit"></i>
          <span>{{ button_edit }}</span>
        </button>
        {# <button type="button" class="btn btn-primary d-flex gap-2 align-items-center">
          <i class="fa fa-clone" aria-hidden="true"></i>
          <span>{{ button_copy }}</span>
        </button> #}
        <button type="button" class="btn btn-primary d-flex gap-2 align-items-center" onclick="userDelete()">
          <i class="fa fa-user-times"></i>
          <span>{{ button_delete }}</span>
        </button>
        <div class="btn-group btn-group-sm" role="group">
          <button id="btnGroupDrop1" type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false"></button>
          <ul class="dropdown-menu" aria-labelledby="btnGroupDrop1">
            <li><a class="dropdown-item d-flex gap-2 align-items-center"><i class="fa fa-refresh"></i>{{ button_update }}</a></li>
            <li><a class="dropdown-item">{{ button_etc}}</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item">...</a></li>
          </ul>
        </div>
      </div>
    </div>           
    <div class="eva-table"></div>      
  </div>    
  {# Roles [2] #}
  <div class="tab-pane fade" id="nav-roles" role="tabpanel" aria-labelledby="nav-roles-tab">
    <div class="btn-toolbar" role="toolbar" aria-label="toolbar group">
      <div class="btn-group btn-group-sm" role="group">
        <button type="button" class="btn btn-primary d-flex gap-2 align-items-center" data-bs-toggle="modal" data-bs-target="#roleModal">
          <i class="fa fa-plus-square"></i>
          <span>{{ button_add }}</span>
        </button>
        <button type="button" class="btn btn-primary d-flex gap-2 align-items-center" onclick="roleDelete()">
          <i class="fa fa-minus-square"></i>
          <span>{{ button_delete }}</span>
        </button>
      </div>
    </div>           
    <div class="eva-table"></div>  
  </div>
</div>  

{# Modal User #}
<div class="modal fade" id="userModal" tabindex="-1" data-bs-backdrop="static" aria-labelledby="userModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="userModalLabel"></h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form class="form" id="create-user-form">
          <label for="input-user-name">Name:</label>
          <div class="input-group input-group-sm has-validation">
            <input type="text" placeholder="Name" id="input-user-name" class="form-control" required/>
          </div>
          <label for="input-descr">Descr:</label>
          <div class="input-group input-group-sm">
            <input type="text" placeholder="Full name" id="input-descr" class="form-control"/>
          </div>
          <label for="input-role">Role:</label>
          <div class="input-group input-group-sm has-validation">            
            <input type="text" id="input-role" class="form-control" required/>
            <button class="btn btn-outline-secondary" type="button" onclick="userEditRole()">...</button>
          </div>
          <label for="input-email">E-mail:</label>
          <div class="input-group input-group-sm">            
            <input type="email" placeholder="email@example.com" id="input-email" class="form-control"/>
          </div>
          <label for="input-password">Password:</label>
          <div class="input-group input-group-sm">
            <input type="password" placeholder="Password" id="input-password" class="form-control"/>
          </div>
          <label for="input-confirmpass">Confirm password:</label>
          <div class="input-group input-group-sm">
            <input type="password" placeholder="Password" id="input-confirmpass" class="form-control"/>
          </div>
          <label for="input-eauth">Show user:</label>
          <div class="form-group input-group-sm">
            <input type="checkbox" class="form-check-input" id="input-show" checked/>
          </div>
          <label for="input-eauth">Enterprise auth:</label>
          <div class="form-group input-group-sm">
            <input type="checkbox" class="form-check-input" id="input-eauth" checked/>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="submit" class="btn btn-primary"  onclick="userCreate()">{{ button_save }}&{{ button_close }}</button>
      </div>
    </div>
  </div>
</div>
{# Modal Edit User Role [3] #}
<div class="modal modal-lg fade" id="editUserRoleModal" tabindex="-2" data-bs-backdrop="static" aria-labelledby="userEditRoleModalLabel" aria-hidden="true">
  <div class="modal-dialog  modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Select roles</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>
      </div>
      <div class="modal-body">          
        <div class="btn-toolbar" role="toolbar" aria-label="toolbar group">          
          <div class="btn-group btn-group-sm" role="group">
            <button type="submit" class="btn btn-primary d-flex gap-2 align-items-center eva-edit" data-bs-dismiss="modal" onclick="roleSelect()">
              <i class=""></i>
              <span>Select</span>
            </button>    
          </div>
        </div>
        <div class="eva-table"></div>          
      </div>
      <div class="modal-footer">        
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">{{button_close}}</button>
      </div>
    </div>
  </div>
</div> 
{# Modal Role #}
<div class="modal fade" id="roleModal" tabindex="-1" data-bs-backdrop="static" aria-labelledby="roleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="roleModalLabel">Add Role:</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>
      </div>
      <div class="modal-body">
        <form class="form" id="create-role-form">
          <label for="input-rolename">Name:</label>
          <div class="input-group input-group-sm">
            <input type="text" placeholder="Name" id="input-rolename" class="form-control" required/>
          </div>                  
        </form>
      </div>
      <div class="modal-footer">
        <button type="submit" class="btn btn-primary" data-bs-dismiss="modal" onclick="roleCreate()">{{ button_save }}</button>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">{{button_close}}</button>
      </div>
    </div>
  </div>
</div>
{# Modal Object #}
<div class="modal fade" id="objectModal" tabindex="-1" data-bs-backdrop="static" data-bs-keyboard="false" aria-labelledby="objectModalLabel" aria-hidden="false">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="objectModalLabel">Add object:</h5>
        <button type="button" class="btn-close"  aria-label="Close" data-bs-dismiss="modal"></button>          
      </div>
      <ul class="nav nav-tabs" role="tablist" style="background:grey">                
        <li class="nav-item">
          <a class="nav-link active" href="#" id="object-main" data-bs-toggle="tab" data-bs-target="#nav-main"  role="tab" aria-controls="nav-main" aria-selected="true" onclick="">
            Main
          </a>
        </li> 
        <li class="nav-item">
          <a class="nav-link" href="#" id="object-requisite" data-bs-toggle="tab" data-bs-target="#nav-requisite"  role="tab" aria-controls="nav-requisite" aria-selected="false" onclick="">
            Requisites
          </a>
        </li> 
        <li class="nav-item">
          <a class="nav-link" href="#" id="object-tabular" data-bs-toggle="tab" data-bs-target="#nav-tabular"  role="tab" aria-controls="nav-tabular" aria-selected="false" onclick="">
            Tabular parts
          </a>
        </li> 
        <li class="nav-item">
          <a class="nav-link" href="#" id="object-forms" data-bs-toggle="tab" data-bs-target="#nav-forms"  role="tab" aria-controls="nav-forms" aria-selected="false" onclick="">
            Forms
          </a>
        </li> 
      </ul>   
      <div class="modal-body">
        <div class="tab-content">  
          <div class="tab-pane fade active show" id="nav-main" role="tabpanel" aria-labelledby="nav-main-tab">
            <form class="form" id="create-object-form">  
              <label for="input-type">Type object:</label>
              {# <div class="input-group input-group-sm"> #}
                <select class="form-select form-select-sm" id="input-type" required pattern="[a-zA-Z]+">
                  <option selected desabled value="">...</option>
                  <option value="Subsystem">{{text_subsystem}}</option>  
                  <option value="Module">{{text_module}}</option>  
                  <option value="Constant">{{text_constant}}</option>
                  <option value="Reference">{{text_reference}}</option>              
                  <option value="Document">{{text_document}}</option>  
                  <option value="Processing">{{text_processing}}</option>  
                  <option value="Register">{{text_register}}</option>  
                  <option value="Report">{{text_report}}</option>                              
                </select>
              {# </div>          #}
              <label for="input-textId">Identifier:</label>
              <div class="input-group input-group-sm has-validation">
                <input type="text" placeholder="[a-zA-Z0-9]" id="input-textId" class="form-control" required pattern="[a-zA-Z0-9]+"/>
              </div>  
              <label for="input-object-rep">Object representation:</label>
              <div class="input-group input-group-sm">
                <input type="text" placeholder="" id="input-object-rep" class="form-control"/>
              </div> 
              <label for="input-list-rep">List representation:</label>
              <div class="input-group input-group-sm">
                <input type="text" placeholder="" id="input-list-rep" class="form-control"/>
              </div>  
              <label for="input-subsystem">Subsystem:</label>
              <div class="input-group input-group-sm">
                <input type="text" placeholder="..." id="input-subsystem" class="form-control"/>
                <button class="btn btn-outline-secondary" type="button" onclick="objectEditSubsystem()">...</button>
              </div>
              {# <label for="input-сode-type">Code type:</label>
              <select class="form-select form-select-sm"  id="input-сode-type" required>
                <option selected value="Number">Number</option>  
                <option value="String">String</option>                
              </select> #}
              {# <label for="input-сode-length">Code length:</label>
              <div class="input-group input-group-sm">
                <input type="number" placeholder="0" id="input-сode-length" value=10 max=10  class="form-control"/>                
              </div> #}
              {# <label for="input-name-length">Name length:</label>
              <div class="input-group input-group-sm">
                <input type="number" placeholder="0" id="input-name-length" value=250 max=250 class="form-control"/>                
              </div> #}
              <label for="input-owner">Owner:</label>
              <div class="input-group input-group-sm">
                <input type="text" placeholder="..." id="input-owner" class="form-control"/>
                <button class="btn btn-outline-secondary" type="button" onclick="objectOwner()" disabled>...</button>
              </div>  
            </form>
          </div>   
          <div class="tab-pane fade" id="nav-requisite" role="tabpanel" aria-labelledby="nav-requisite-tab">
            <div class="btn-toolbar" role="toolbar" aria-label="toolbar group">
              <div class="btn-group btn-group-sm" role="group">
                <button type="button" class="btn btn-primary d-flex gap-2 align-items-center" onclick="reqModal()">
                  <i class="fa fa-plus-square"></i>
                  <span>{{ button_add }}</span>
                </button>
                <button type="button" class="btn btn-primary d-flex gap-2 align-items-center eva-edit" onclick="reqEditModal()">
                  <i class="fa fa-edit"></i>
                  <span>{{ button_edit }}</span>
                </button>
                <button type="button" class="btn btn-primary d-flex gap-2 align-items-center" onclick="reqDelete()">
                  <i class="fa fa-minus-square"></i>
                  <span>{{ button_delete }}</span>
                </button>
              </div>
            </div> 
            <div class="eva-table"></div> 
          </div>
          <div class="tab-pane fade" id="nav-tabular" role="tabpanel" aria-labelledby="nav-tabular-tab">
            <div class="btn-toolbar" role="toolbar" aria-label="toolbar group">
              <div class="btn-group btn-group-sm" role="group">
                <button type="button" class="btn btn-primary d-flex gap-2 align-items-center" data-bs-toggle="modal" data-bs-target="#tabularModal">
                  <i class="fa fa-plus-square"></i>
                  <span>{{ button_add }}</span>
                </button>
                <button type="button" class="btn btn-primary d-flex gap-2 align-items-center" onclick="tabularDelete()">
                  <i class="fa fa-minus-square"></i>
                  <span>{{ button_delete }}</span>
                </button>
              </div>
            </div> 
            <div class="eva-table"></div>  
          </div>
          <div class="tab-pane fade" id="nav-forms" role="tabpanel" aria-labelledby="nav-forms-tab">
            <label for="input-ref-elem">Element:</label>
            <div class="input-group">
              <input type="text" placeholder="" id="input-ref-elem" class="form-control"/>
            </div>
            <label for="input-ref-list">List:</label>
            <div class="input-group">
              <input type="text" placeholder="" id="input-ref-list" class="form-control"/>
            </div>
            <label for="input-ref-sel">Selection:</label>
            <div class="input-group">
              <input type="text" placeholder="" id="input-ref-sel" class="form-control"/>
            </div>
          </div>
        </div>    
      </div>
      <div class="modal-footer">
        {# <button type="submit" class="btn btn-primary" onclick="objectSave()"><i class="fa fa-floppy-o"></i></button>         #}
        <button type="submit" class="btn btn-primary" onclick="objectCreate()">{{ button_save }}&{{button_close}}</button>        
      </div>
    </div>
  </div>
</div>
{# Modal Edit Subsystem [6] #}
<div class="modal modal-lg fade" id="editSubsystemModal" tabindex="-2" data-bs-backdrop="static" aria-labelledby="editSubsystemModalLabel" aria-hidden="true">
  <div class="modal-dialog  modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Select subsystem</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>
      </div>
      <div class="modal-body">          
        <div class="btn-toolbar" role="toolbar" aria-label="toolbar group">          
          <div class="btn-group btn-group-sm" role="group">
            <button type="submit" class="btn btn-primary d-flex gap-2 align-items-center eva-edit" onclick="subsystemSelect()">
              <i class=""></i>
              <span>Select</span>
            </button>    
          </div>
        </div>
        <div class="eva-table"></div>          
      </div>
      <div class="modal-footer">        
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">{{button_close}}</button>
      </div>
    </div>
  </div>
</div> 
{# Modal Requisite #}
<div class="modal fade" id="requisiteModal" tabindex="-2" data-bs-backdrop="static" aria-labelledby="requisiteModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="requisiteModalLabel">*</h5>
        <button type="button" class="btn-close"  aria-label="Close"  data-bs-dismiss="modal" onclick=""></button>
      </div>
      <div class="modal-body">
        <form class="form" id="create-req-form">        
        {# <div class="accordion" id="accordionPanels">
          <div class="accordion-item">
            <h4 class="accordion-header">
              <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">
                Basic
              </button>
            </h4>
            <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show">
              <div class="accordion-body"> #}
                <label for="input-req-id">Identifier:</label>
                <div class="input-group input-group-sm">
                  <input type="text" placeholder="[a-zA-Z0-9]" id="input-req-id" class="form-control" required pattern="[a-zA-Z0-9]+"/>
                </div>             
                <label for="input-req-synonym">Synonym:</label>
                <div class="input-group input-group-sm">
                  <input type="text" placeholder="" id="input-req-synonum" class="form-control"/>
                </div>                
              {# </div>
            </div>
          </div>         
          <div class="accordion-item">
            <h4 class="accordion-header">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false" aria-controls="panelsStayOpen-collapseTwo">
                Performance
              </button>
            </h4>
            <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse show">
              <div class="accordion-body"> #}
                <label for="input-req-type">Type:</label>          
                <select class="form-select form-select-sm" id="input-req-type">              
                  <option selected value="String">String</option>                
                  <option value="Number">Number</option> 
                  <option value="Date">Date</option>   
                  <option value="Boolean">Boolean</option>                                                      
                  <option value="Reference">{{text_reference}}</option>              
                  <option value="Document">{{text_document}}</option>                                                              
                </select>  
                <label for="input-req-length">Length:</label>
                <div class="input-group input-group-sm">
                  <input type="number" placeholder="" id="input-req-length" class="form-control"/>
                </div>
                <label for="input-req-accuracy">Accuracy:</label>
                <div class="input-group input-group-sm">
                  <input type="number" placeholder="" id="input-req-accuracy" class="form-control" max="4"/>
                </div>                     
                <label for="input-req-pattern">Pattern:</label>
                <div class="input-group input-group-sm">
                  <input type="text" placeholder="" id="input-req-pattern" class="form-control"/>
                </div>                   
                <label for="input-req-valid">Validation check:</label>
                <div class="input-group input-group-sm">
                  <input type="checkbox" class="form-check-input" id="input-req-valid"/>
                </div>  
                <label for="input-req-descr">Description:</label>
                <div class="input-group input-group-sm">
                  <input type="text" placeholder="" id="input-req-descr" class="form-control"/>
                </div> 
              {# </div>
            </div>
          </div>            
        </div>   #}
        </form>
      </div>
      <div class="modal-footer">
        <button type="submit" class="btn btn-primary" onclick="reqCreate()">{{ button_save }}&{{ button_close }}</button>
      </div>
    </div>
  </div>
</div>