<div class="tab-content" id="nav-tabContent">
  {# Config [0] #}
  <div class="tab-pane fade active show" id="nav-config" role="tabpanel" aria-labelledby="nav-config-tab">
    <div class="btn-toolbar" role="toolbar" aria-label="toolbar group">
      <div class="btn-group btn-group-sm" role="group">
        <button type="button" class="btn btn-primary d-flex gap-2 align-items-center" data-bs-toggle="modal" data-bs-target="#configModal">
          <i class="fa fa-plus-square"></i>
          <span>{{ button_add }}</span>
        </button>
        <button type="button" class="btn btn-primary d-flex gap-2 align-items-center eva-edit" onclick="objectEditModal()">
          <i class="fa fa-edit"></i>
          <span>{{ button_edit }}</span>
        </button>
        {# <button type="button" class="btn btn-primary d-flex gap-2 align-items-center">
          <i class="fa fa-clone" aria-hidden="true"></i>
          <span>{{ button_copy }}</span>
        </button> #}
         <button type="button" class="btn btn-primary d-flex gap-2 align-items-center" onclick="configDelete()">
          <i class="fa fa-minus-square"></i>
          <span>{{ button_delete }}</span>
        </button>
        <button id="btn-config-save" type="button" class="btn btn-primary d-flex gap-2 align-items-center" onclick="updateConfig()">
            <i class="fa fa-floppy-o"></i>
            <span>{{ button_save }}</span>
        </button>       
        <div class="btn-group btn-group-sm" role="group">
          <button id="btnGroupDrop1" type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false"></button>
          <ul class="dropdown-menu" aria-labelledby="btnGroupDrop1">           
            <li><a class="dropdown-item">{{ button_etc}}</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item">...</a></li>
          </ul>
        </div>
      </div>
    </div>           
    <div class="eva-form"></div>      
  </div> 
  {# Users [1] #}
  <div class="tab-pane fade" id="nav-users" role="tabpanel" aria-labelledby="nav-users-tab">
    <div class="btn-toolbar" role="toolbar" aria-label="toolbar group">
      <div class="btn-group btn-group-sm" role="group">
        <button type="button" class="btn btn-primary d-flex gap-2 align-items-center" data-bs-toggle="modal" data-bs-target="#userModal" onclick="userCreateModal()">
          <i class="fa fa-user-plus"></i>
          <span>{{ button_add }}</span>
        </button>        
        <button type="button" class="btn btn-primary d-flex gap-2 align-items-center eva-edit" data-bs-toggle="modal" data-bs-target="#userModal" onclick="userEditModal()">
          <i class="fa fa-edit"></i>
          <span>{{ button_edit }}</span>
        </button>
        {# <button type="button" class="btn btn-primary d-flex gap-2 align-items-center">
          <i class="fa fa-clone" aria-hidden="true"></i>
          <span>{{ button_copy }}</span>
        </button> #}
        <button type="button" class="btn btn-primary d-flex gap-2 align-items-center" onclick="userDelete()">
          <i class="fa fa-user-times"></i>
          <span>{{ button_delete }}</span>
        </button>
        <div class="btn-group btn-group-sm" role="group">
          <button id="btnGroupDrop1" type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false"></button>
          <ul class="dropdown-menu" aria-labelledby="btnGroupDrop1">
            <li><a class="dropdown-item d-flex gap-2 align-items-center"><i class="fa fa-refresh"></i>{{ button_update }}</a></li>
            <li><a class="dropdown-item">{{ button_etc}}</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item">...</a></li>
          </ul>
        </div>
      </div>
    </div>           
    <div class="eva-form"></div>      
  </div>    
  {# Roles [2] #}
  <div class="tab-pane fade" id="nav-roles" role="tabpanel" aria-labelledby="nav-roles-tab">
    <div class="btn-toolbar" role="toolbar" aria-label="toolbar group">
      <div class="btn-group btn-group-sm" role="group">
        <button type="button" class="btn btn-primary d-flex gap-2 align-items-center" data-bs-toggle="modal" data-bs-target="#roleModal">
          <i class="fa fa-plus-square"></i>
          <span>{{ button_add }}</span>
        </button>
        <button type="button" class="btn btn-primary d-flex gap-2 align-items-center" onclick="roleDelete()">
          <i class="fa fa-minus-square"></i>
          <span>{{ button_delete }}</span>
        </button>
      </div>
    </div>           
    <div class="eva-form"></div>  
  </div>
</div>  

{# Modal User #}
<div class="modal fade" id="userModal" tabindex="-1" aria-labelledby="userModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="userModalLabel">{{ text_add_user }}</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form class="form" id="create-user-form">
          <label for="input-user-name">Name:</label>
          <div class="input-group">
            <input type="text" placeholder="Name" id="input-user-name" class="form-control"/>
          </div>
          <label for="input-descr">Descr:</label>
          <div class="input-group">
            <input type="text" placeholder="Full name" id="input-descr" class="form-control"/>
          </div>
          <label for="input-role">Role:</label>
          <div class="input-group">            
            <input type="text" id="input-role" class="form-control"/>
            <button class="btn btn-outline-secondary" type="button" onclick="userEditRole()">...</button>
          </div>
          <label for="input-email">E-mail:</label>
          <div class="input-group">            
            <input type="email" placeholder="email@example.com" id="input-email" class="form-control"/>
          </div>
          <label for="input-password">Password:</label>
          <div class="input-group">
            <input type="password" placeholder="Password" id="input-password" class="form-control"/>
          </div>
          <label for="input-confirmpass">Confirm password:</label>
          <div class="input-group">
            <input type="password" placeholder="Password" id="input-confirmpass" class="form-control"/>
          </div>
          <label for="input-eauth">Show user:</label>
          <div class="form-group">
            <input type="checkbox" class="form-check-input" id="input-show" checked/>
          </div>
          <label for="input-eauth">Enterprise auth:</label>
          <div class="form-group">
            <input type="checkbox" class="form-check-input" id="input-eauth" checked/>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="submit" class="btn btn-primary" data-bs-dismiss="modal" onclick="userCreate()">{{ button_save }}&{{ button_close }}</button>
      </div>
    </div>
  </div>
</div>
{# Modal Edit User Role [3] #}
<div class="modal modal-lg fade" id="editUserRoleModal" tabindex="-2" aria-labelledby="userEditRoleModalLabel" aria-hidden="true">
  <div class="modal-dialog  modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Select roles</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>
      </div>
      <div class="modal-body">          
        <div class="btn-toolbar" role="toolbar" aria-label="toolbar group">          
          <div class="btn-group btn-group-sm" role="group">
            <button type="submit" class="btn btn-primary d-flex gap-2 align-items-center eva-edit" data-bs-dismiss="modal" onclick="roleSelect()">
              <i class=""></i>
              <span>Select</span>
            </button>    
          </div>
        </div>
        <div class="eva-form"></div>          
      </div>
      <div class="modal-footer">        
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">{{button_close}}</button>
      </div>
    </div>
  </div>
</div> 
{# Modal Role #}
<div class="modal fade" id="roleModal" tabindex="-1" aria-labelledby="roleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="roleModalLabel">Add Role</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>
      </div>
      <div class="modal-body">
        <form class="form" id="create-role-form">
          <label for="input-rolename">Name:</label>
          <div class="input-group">
            <input type="text" placeholder="Name" id="input-rolename" class="form-control"/>
          </div>                  
        </form>
      </div>
      <div class="modal-footer">
        <button type="submit" class="btn btn-primary" data-bs-dismiss="modal" onclick="roleCreate()">{{ button_save }}</button>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">{{button_close}}</button>
      </div>
    </div>
  </div>
</div>
{# Modal Object #}
<div class="modal fade" id="configModal" tabindex="-1" aria-labelledby="objectModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="objectModalLabel">Add object</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form class="form" id="create-object-form">  
          <label for="input-type">Type object:</label>
          <div class="input-group input-group-sm">
            {# <input type="text" placeholder="0" id="input-type" class="form-control"/> #}
            {# <button class="btn btn-outline-secondary" type="button" onclick="config_edit_type()">...</button> #}
            <select type="text" name="type" value="" class="form-select form-control" id="input-type">
              <option selected>  </option>
              <option value="Subsystem">{{text_subsystem}}</option>  
              <option value="Module">{{text_module}}</option>  
              <option value="Constant">{{text_constant}}</option>
              <option value="Reference">{{text_reference}}</option>              
              <option value="Document">{{text_document}}</option>  
              <option value="Processing">{{text_processing}}</option>  
              <option value="Register">{{text_register}}</option>  
              <option value="Report">{{text_report}}</option>                              
            </select>
          </div>         
          <label for="input-textId">Identifier:</label>
          <div class="input-group input-group-sm">
            <input type="text" placeholder="" id="input-textId" class="form-control"/>
          </div>  
          <label for="input-subsystem">Subsystem:</label>
            <div class="input-group input-group-sm">
            <input type="text" placeholder="0" id="input-subsystem" class="form-control"/>
            <button class="btn btn-outline-secondary" type="button" onclick="objectEditSubsystem()">...</button>
          </div> 
          <label for="input-typeId">Type Id:</label>
          <div class="input-group input-group-sm">
            <input type="text" placeholder="0" id="input-typeId" class="form-control"/>
            <button class="btn btn-outline-secondary" type="button" onclick="configEditTypeId()">...</button>
          </div> 
          <label for="input-descr">Parent:</label>
          <div class="input-group input-group-sm">
            <input type="text" placeholder="..." id="input-parent" class="form-control"/>
            <button class="btn btn-outline-secondary" type="button" onclick="configEditParent()">...</button>
          </div>  
        </form>
      </div>
      <div class="modal-footer">
        <button type="submit" class="btn btn-primary" data-bs-dismiss="modal" onclick="configCreate()">{{ button_save }}</button>
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal">{{button_close}}</button>
      </div>
    </div>
  </div>
</div>
{# Modal Object Edit #}
<div class="modal fade" id="objectEditModal" tabindex="-1" aria-labelledby="objectEditModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="objectEditModalLabel">Edit object</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>
      </div>
      <div class="modal-body">        
        <form class="form" id="object-edit-form">
          <label for="input-edit-type">Type object:</label>
          <div class="input-group input-group-sm">
            {# <input type="text" placeholder="0" id="input-type" class="form-control"/> #}
            {# <button class="btn btn-outline-secondary" type="button" onclick="config_edit_type()">...</button> #}
            <input type="text" name="type" class="form-control" id="input-edit-type" disabled></input>
          </div>         
          <label for="input-edit-textId">Identifier:</label>
          <div class="input-group input-group-sm">
            <input type="text" placeholder="" id="input-edit-textId" class="form-control"/>
          </div>            
          <label for="input-edit-subsystem">Subsystem:</label>
          <div class="input-group input-group-sm">
            <input type="text" placeholder="" id="input-edit-subsystem" class="form-control"/>
            <button id= "subsystemBtn" class="btn btn-outline-secondary" type="button" onclick="objectEditSubsystem()">...</button>
          </div>           
          <label for="input-edit-typeId">Type Id:</label>
          <div class="input-group input-group-sm">
            <input type="text" placeholder="0" id="input-edit-typeId" class="form-control"/>
            <button class="btn btn-outline-secondary" type="button" onclick="objectEditTypeId()">...</button>
          </div> 
          <label for="input-edit-descr">Parent:</label>
          <div class="input-group input-group-sm">
            <input type="text" placeholder="..." id="input-edit-parent" class="form-control"/>
            <button class="btn btn-outline-secondary" type="button" onclick="objectEditParent()">...</button>
          </div>    
        </form>
      </div>
      <div class="modal-footer">
        <button type="submit" class="btn btn-primary" onclick="objectEdit()">{{ button_save }}</button>
      </div>
    </div>
  </div>
</div>
{# Modal Edit Subsystem [4] #}
<div class="modal modal-lg fade" id="editSubsystemModal" tabindex="-2" aria-labelledby="editSubsystemModalLabel" aria-hidden="true">
  <div class="modal-dialog  modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Select subsystem</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>
      </div>
      <div class="modal-body">          
        <div class="btn-toolbar" role="toolbar" aria-label="toolbar group">          
          <div class="btn-group btn-group-sm" role="group">
            <button type="submit" class="btn btn-primary d-flex gap-2 align-items-center eva-edit" data-bs-dismiss="modal" onclick="subsystemSelect()">
              <i class=""></i>
              <span>Select</span>
            </button>    
          </div>
        </div>
        <div class="eva-form"></div>          
      </div>
      <div class="modal-footer">        
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">{{button_close}}</button>
      </div>
    </div>
  </div>
</div> 