{# <div class=""> #}
  {# <nav> #}
    <div class="nav nav-tabs" id="nav-tab" role="tablist">
      <button class="nav-link active" id="nav-home-tab" data-bs-toggle="tab" data-bs-target="#nav-home" type="button" role="tab" aria-controls="nav-home" aria-selected="true">Users&nbsp;&nbsp;<i class="fa fa-times"></i></button>
      <button class="nav-link" id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#nav-profile" type="button" role="tab" aria-controls="nav-profile" aria-selected="false">Dashboard&nbsp;&nbsp;<i class="fa fa-times"></i></button>
      {# <button class="nav-link" id="nav-contact-tab" data-bs-toggle="tab" data-bs-target="#nav-contact" type="button" role="tab" aria-controls="nav-contact" aria-selected="false">Contact</button> #}
    </div>
  {# </nav> #}
  <div class="tab-content" id="nav-tabContent">
    <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
      <div class="btn-toolbar" role="toolbar" aria-label="toolbar group">
        <div class="btn-group btn-group-sm" role="group">
          <button type="button" class="btn btn-primary d-flex gap-2 align-items-center" data-bs-toggle="modal" data-bs-target="#usersModal">
            <i class="fa fa-user-plus"></i>
            <span>{{ button_add }}</span>
          </button>
          <button type="button" class="btn btn-primary d-flex gap-2 align-items-center" data-bs-toggle="modal" data-bs-target="#userEditModal" onclick="user_edit_modal()">
            <i class="fa fa-edit"></i>
            <span>{{ button_edit }}</span>
          </button>
          <button type="button" class="btn btn-primary d-flex gap-2 align-items-center">
            <i class="fa fa-clone" aria-hidden="true"></i>
            <span>{{ button_copy }}</span>
          </button>
          <button type="button" class="btn btn-primary d-flex gap-2 align-items-center" onclick="user_delete()">
            <i class="fa fa-user-times"></i>
            <span>{{ button_delete }}</span>
          </button>
          <div class="btn-group btn-group-sm" role="group">
            <button id="btnGroupDrop1" type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false"></button>
            <ul class="dropdown-menu" aria-labelledby="btnGroupDrop1">
              <li><a class="dropdown-item d-flex gap-2 align-items-center"><i class="fa fa-refresh"></i>{{ button_update }}</a></li>
              <li><a class="dropdown-item">{{ button_etc}}</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item">...</a></li>
            </ul>
          </div>
        </div>
      </div>           
      <div class="eva-form"></div>      
    </div>    
  </div>
{# </div> #}

{# Modal User #}
<div class="modal fade" id="usersModal" tabindex="-1" aria-labelledby="usersModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="usersModalLabel">{{ text_addusers }}</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>
      </div>
      <div class="modal-body">
        <form class="form" id="create-form">
          <label for="input-username">Name:</label>
          <div class="input-group">
            <input type="text" placeholder="Name" id="input-username" class="form-control"/>
          </div>
          <label for="input-descr">Descr:</label>
          <div class="input-group">
            <input type="text" placeholder="Full name" id="input-descr" class="form-control"/>
          </div>
          <label for="input-role">Role:</label>
          <div class="input-group">            
            <input type="text" id="input-role" class="form-control"/>
            <button class="btn btn-outline-secondary" type="button" onclick="user_edit_role()">...</button>
          </div>
          <label for="input-email">E-mail:</label>
          <div class="input-group">            
            <input type="email" placeholder="email@example.com" id="input-email" class="form-control"/>
          </div>
          <label for="input-password">Password:</label>
          <div class="input-group">
            <input type="password" placeholder="Password" id="input-password" class="form-control"/>
          </div>
          <label for="input-confirmpass">Confirm password:</label>
          <div class="input-group">
            <input type="password" placeholder="Password" id="input-confirmpass" class="form-control"/>
          </div>
          <label for="input-eauth">Show user:</label>
          <div class="form-group">
            <input type="checkbox" class="form-check-input" id="input-show" checked/>
          </div>
          <label for="input-eauth">Enterprise auth:</label>
          <div class="form-group">
            <input type="checkbox" class="form-check-input" id="input-eauth" checked/>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="submit" class="btn btn-primary" data-bs-dismiss="modal" onclick="user_create()">{{ button_save }}</button>
      </div>
    </div>
  </div>
</div>
{# Modal User Edit #}
<div class="modal fade" id="userEditModal" tabindex="-1" aria-labelledby="userEditModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="userEditModalLabel">Редактировать пользователя</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>
      </div>
      <div class="modal-body">
        <form class="form" id="create-edit-form">
          <label for="input-edit-username">Name:</label>
          <div class="input-group">
            <input type="text" placeholder="Name" id="input-edit-username" class="form-control"/>
          </div>
          <label for="input-edit-descr">Descr:</label>
          <div class="input-group">
            <input type="text" placeholder="Full name" id="input-edit-descr" class="form-control"/>
          </div>
          <label for="input-edit-role">Role:</label>
          <div class="input-group">            
            <input type="text" id="input-edit-role" class="form-control"/>
            <button class="btn btn-outline-secondary" type="button" onclick="user_edit_role()">...</button>
          </div>
          <label for="input-edit-email">E-mail:</label>
          <div class="input-group">
            <input type="email" placeholder="email@example.com" id="input-edit-email" class="form-control"/>
          </div>
          <label for="input-edit-password">Password:</label>
          <div class="input-group">
            <input type="password" placeholder="Password" id="input-edit-password" class="form-control"/>
          </div>
          <label for="input-edit-confirmpass">Confirm password:</label>
          <div class="input-group">
            <input type="password" placeholder="Password" id="input-edit-confirmpass" class="form-control"/>
          </div>
          <label for="input-edit-show">Show user:</label>
          <div class="form-group">
            <input type="checkbox" class="form-check-input" id="input-edit-show" checked/>
          </div>
          <label for="input-edit-eauth">Enterprise auth:</label>
          <div class="form-group">
            <input type="checkbox" class="form-check-input" name="eauth" id="input-edit-eauth" checked/>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="submit" class="btn btn-primary" data-bs-dismiss="modal" onclick="user_edit()">{{ button_save }}</button>
      </div>
    </div>
  </div>
</div>
{# Modal Edit User Role [1] #}
<div class="modal modal-lg fade" id="editUserRoleModal" aria-hidden="true">
  <div class="modal-dialog  modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Выбор роли</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>
      </div>
      <div class="modal-body">          
        <div class="btn-toolbar" role="toolbar" aria-label="toolbar group">          
          <div class="btn-group btn-group-sm" role="group">
            <button type="button" class="btn btn-primary d-flex gap-2 align-items-center" onclick="role_select()">
              <i class=""></i>
              <span>Выбрать</span>
            </button>    
          </div>
        </div>
        <div class="eva-form"></div>          
      </div>
      <div class="modal-footer">        
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
      </div>
    </div>
  </div>
</div> 