<div class="flex-grow-1 h-100 border bg-light">
  <nav>
    <div class="nav nav-tabs" id="nav-tab" role="tablist">
      <button class="nav-link active" id="nav-home-tab" data-bs-toggle="tab" data-bs-target="#nav-home" type="button" role="tab" aria-controls="nav-home" aria-selected="true">Users&nbsp;&nbsp;<i class="fa fa-times"></i></button>
      <button class="nav-link" id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#nav-profile" type="button" role="tab" aria-controls="nav-profile" aria-selected="false">Dashboard&nbsp;&nbsp;<i class="fa fa-times"></i></button>
      {# <button class="nav-link" id="nav-contact-tab" data-bs-toggle="tab" data-bs-target="#nav-contact" type="button" role="tab" aria-controls="nav-contact" aria-selected="false">Contact</button> #}
    </div>
  </nav>
  <div class="tab-content" id="nav-tabContent">
    <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
      <div class="btn-toolbar" role="toolbar" aria-label="toolbar group">
        <div class="btn-group btn-group-sm" role="group">
          <button type="button" class="btn btn-primary d-flex gap-2 align-items-center" data-bs-toggle="modal" data-bs-target="#usersModal">
            <i class="fa fa-user-plus"></i>
            <span>{{ button_add }}</span>
          </button> 
          <button type="button" class="btn btn-primary d-flex gap-2 align-items-center">
            <i class="fa fa-edit"></i>
            <span>{{ button_edit }}</span>
          </button>
          <button type="button" class="btn btn-primary d-flex gap-2 align-items-center">
            <i class="fa fa-clone" aria-hidden="true"></i>
            <span>{{ button_copy }}</span>
          </button>
          <button type="button" class="btn btn-primary d-flex gap-2 align-items-center" onclick="user_delete()">
            <i class="fa fa-user-times"></i>
            <span>{{ button_delete }}</span>
          </button>
          <div class="btn-group btn-group-sm" role="group">              
            <button id="btnGroupDrop1" type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false"></button>
            <ul class="dropdown-menu" aria-labelledby="btnGroupDrop1">
              <li><a class="dropdown-item d-flex gap-2 align-items-center"><i class="fa fa-refresh"></i>{{ button_update }}</a></li>
              <li><a class="dropdown-item">{{ button_etc}}</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item">...</a></li>
            </ul>                
          </div>    
        </div>       
      </div>        
      <div class="h-100 overflow-scroll"> 
        <table id="user_table"  class="h-100 table table-striped table-hover table-sm table-responsive"></table>
      </div>
    </div>
  </div>       
</div>
{# {% include "./security.twig" %} #}
{# Modal #}
<div class="modal fade" id="usersModal" tabindex="-1" aria-labelledby="usersModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="usersModalLabel">{{ text_addusers }}</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>
      </div>
      <div class="modal-body">
          <form class="form" id="create-form">              
            <label for="input-username">Name:</label>            
            <div class="input-group">
              <input type="text" name="username" value="" placeholder="Name" id="input-username" class="form-control"/>            
            </div>            
            <label for="input-descr">Descr:</label>
            <div class="input-group">
              <input type="text" name="Descr" value="" placeholder="Full name" id="input-descr" class="form-control"/>            
            </div>  
            <label for="input-email">E-mail:</label>
            <div class="input-group">
              <input type="text" name="email" value="" placeholder="email@example.com" id="input-email" class="form-control"/>            
            </div> 
            {# <hr class="form-group-divider"> #}
            <label for="input-password">Password:</label>            
            <div class="input-group">
              <input type="password" name="password" value="" placeholder="Password" id="input-password" class="form-control"/>                            
            </div>                                     
            <label for="input-Cpassword">Confirm password:</label>            
            <div class="input-group">
              <input type="password" name="confirmpass" value="" placeholder="Password" id="input-confirmpass" class="form-control"/>                            
            </div>  
            <label for="input-eauth">Enterprise authentication:</label>            
            <div class="form-group">
              <input type="checkbox" class="form-check-input" name="eauth" id="input-eauth"  checked/>
            </div>  
          </form>  
      </div>
      <div class="modal-footer">
        <button type="submit" class="btn btn-primary" data-bs-dismiss="modal" onclick="user_create()">{{ button_save }}</button>        
      </div>
    </div>
  </div>
</div>