{% block ref %}    
{# <div class="tab-content" id="nav-tab-cont" > #}
    {# Reference #}
    <div class="tab-pane fade" id="nav-ref-form" role="tabpanel" aria-labelledby="naf-Ref-tab">      
      <h5 class="title" id="refFormLabel">Reference</h5>         
      {# <hr/> #}
      <div class="btn-toolbar" role="toolbar" aria-label="toolbar group">
        <div class="btn-group btn-group-sm" role="group">
          <button type="button" class="btn btn-primary d-flex gap-2 align-items-center" data-bs-toggle="modal" data-bs-target="#refModal" onclick="refModal()">
            <i class="fa fa-plus-square"></i>
            <span>{{ button_add }}</span>
          </button>
          <button type="button" class="btn btn-primary d-flex gap-2 align-items-center eva-edit" onclick="refEditModal()">
            <i class="fa fa-edit"></i>
            <span>{{ button_edit }}</span>
          </button>
          <button type="button" class="btn btn-primary d-flex gap-2 align-items-center" >
            <i class="fa fa-clone" aria-hidden="true"></i>
            <span>{{ button_copy }}</span>
          </button>
          <button type="button" class="btn btn-primary d-flex gap-2 align-items-center" onclick="refDelete()">
            <i class="fa fa-minus-square"></i>
            <span>{{ button_delete }}</span>
          </button>
          <div class="btn-group btn-group-sm" role="group">
            <button id="btnGroupDrop1" type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false"></button>
            <ul class="dropdown-menu" aria-labelledby="btnGroupDrop1">           
              <li><a class="dropdown-item">{{ button_etc}}</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item">...</a></li>
            </ul>
          </div>
        </div>
      </div>           
      <div class="eva-ref-form" id="eva-ref-form"></div>       
    </div>  
{# </div>  #}

{# Modal Ref #}  
<div class="modal fade" id="refModal" tabindex="-1" aria-labelledby="refModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="refModalLabel"></h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form class="form" id="create-ref-form"> 
          {# Dynamic form #}
        </form>
      </div>
      <div class="modal-footer">
        {# <button type="submit" class="btn btn-primary" onclick="refSave()"><i class="fa fa-floppy-o"></i></button> #}
        <button type="submit" class="btn btn-primary" data-bs-dismiss="modal" onclick="refCreate()">{{ button_save }}&{{button_close}}</button>        
      </div>
    </div>
  </div>
</div> 
{% endblock %}