{% block ref %} 
{# Reference #}
<div class="tab-pane fade" id="nav-ref-form" role="tabpanel" aria-labelledby="naf-ref-tab">    
  <ul class="nav nav-tabs" id="eva-nav-tabs">
  </ul>
  <h5 class="title" id="refFormLabel">Reference*</h5>     
  <div class="btn-toolbar" role="toolbar" aria-label="toolbar group">    
    <div class="btn-group btn-group-sm" role="group">
      <button type="button" class="btn btn-primary gap-2 align-items-center eva-add">
          <i class="fa fa-plus-square"></i>
          <span>{{ button_add }}</span>
      </button>   
      <button type="button" class="btn btn-primary gap-2 align-items-center eva-group" hidden>
          <i class="fa fa-plus-square"></i>
          <span>Group</span>
      </button>
      <button type="button" class="btn btn-primary gap-2 align-items-center eva-edit">
          <i class="fa fa-edit"></i>
          <span>{{ button_edit }}</span>
      </button>
      <button type="button" class="btn btn-primary gap-2 align-items-center eva-copy">
          <i class="fa fa-clone"></i>
          <span>{{ button_copy }}</span>
      </button>
      <button type="button" class="btn btn-primary gap-2 align-items-center eva-del">
          <i class="fa fa-minus-square"></i>
          <span>{{ button_delete }}</span>
      </button>
      <div class="btn-group btn-group-sm" role="group">
        <button id="btnGroupDrop1" type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false"></button>
        <ul class="dropdown-menu" aria-labelledby="btnGroupDrop1">           
            <li><a class="dropdown-item eva-refresh"><i class="fa fa-refresh"></i> {{button_update}}</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item"><i class="fa fa-cog"></i><span> Сhange form...</span></a></li>
        </ul>
      </div>
    </div>   
  </div>           
  <div class="eva-table" id="eva-ref-form"></div>       
</div>  

{# Modal Ref #}  
<div class="modal modal-lg fade" id="refModal" tabindex="-1" data-bs-backdrop="static" aria-labelledby="refModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="refModalLabel"></h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <ul class="nav nav-tabs" id="eva-nav-tabs-ref"></ul>
        <form class="form" id="create-ref-form"> 
          {# Dynamic form #}
        </form>
      </div>
      <div class="modal-footer">
        <button type="submit" class="btn btn-primary" onclick="refSave()"><i class="fa fa-floppy-o"></i></button>
        <button type="submit" class="btn btn-primary" onclick="refCreate()">{{ button_save }}&{{button_close}}</button>        
      </div>
    </div>
  </div>
</div> 
{# Modal Elem #}  
<div class="modal fade" id="elemModal" tabindex="-2" data-bs-backdrop="static" aria-labelledby="elemModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="elemModalLabel"></h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" onclick="elementsModal=''"></button>
      </div>
      <div class="modal-body">
        <form class="form" id="create-elem-form"> 
          {# Dynamic form #}
        </form>
      </div>
      <div class="modal-footer">
        <button type="submit" class="btn btn-primary" onclick="elemSave()"><i class="fa fa-floppy-o"></i></button>
        <button type="submit" class="btn btn-primary" onclick="elemCreate()">{{ button_save }}&{{button_close}}</button>        
      </div>
    </div>
  </div>
</div> 
{# Modal Select Element #}
<div class="modal modal-lg fade" id="selectElemModal" tabindex="-3" data-bs-backdrop="static" aria-labelledby="selectElemModalLabel" aria-hidden="true">
  <div class="modal-dialog  modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Select element:</h5>
        <button type="button" class="btn-close"  aria-label="Close" onclick="modalShow()"></button>
      </div>
      <div class="modal-body">          
        <div class="btn-toolbar" role="toolbar" aria-label="toolbar group">          
          <div class="btn-group btn-group-sm" role="group">
            <button type="submit" class="btn btn-primary d-flex gap-2 align-items-center eva-edit" onclick="elemSelect()">
              <i class=""></i>
              <span>Select</span>
            </button>    
          </div>
        </div> 
        <div class="eva-table"></div>          
      </div>
      <div class="modal-footer">        
        <button type="button" class="btn btn-secondary" onclick="modalShow()">{{button_close}}</button>
      </div>
    </div>
  </div>
</div> 
{% endblock %}